# Custom files
data/
models/
toolchains/
build/
bin/
output/
outputs/

*.pdf
*.log

# media files
*.jpg
*.png
*.jpeg
*.bmp
*.h264

# Compressed files
*.zip
*.7z
*.rar
*.gz
*.tgz
*.bz
*.tar

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyc

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin

# vim temporary files
*.swp
*.swo

# Visual Studio Code
.vscode

# Python type checking
.mypy_cache/
.pyre/
